.Rproj.user
.Rhistory
.RData
.Ruserdata
Ramp_Test_1.fit
Ramp_Test_2.fit
Ramp_Test_3.fit
Ramp_Test_4.fit
Ramp_Test_5.fit
Ramp_Test_6.fit
robbert/Ramp_Test_1.fit
robbert/Ramp_Test_2.fit
robbert/Ramp_Test_3.fit
robbert/Ramp_Test_4.fit
robbert/Ramp_Test_5.fit
robbert/Ramp_Test_6.fit
scholte/2020-11-30-18-54-23.fit
scholte/2021-03-13-15-46-17.fit
scholte/2021-09-23-17-57-13.fit
scholte/2021-10-23-12-25-41.fit
scholte/2021-12-22-17-40-59.fit
